/* Dégradé gauche 22b573 */
/* Dégradé droit 0fa5ae */
/* Button simple 46c18a */

#snackbar{
	z-index:9999999!important;
}

body, html{
    max-width:100%!important;
    height:100%!important;
    max-height:100%!important;
    overflow:hidden!important;
}

@font-face {
  font-family: "Henderson";
  src: url("./fonts/Henderson-Sans-Basic-Thin.otf");
}

.form-control::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
}
.form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #fff;
    opacity:  1;
}
.form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #fff;
    opacity:  1;
}
.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #fff;
}

.gradient, 
.gradient:focus,
.gradient:active {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#22b573+0,0fa5ae+100 */
	background: #22b573; /* Old browsers */
	background: -moz-linear-gradient(left, #22b573 0%, #0fa5ae 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #22b573 0%,#0fa5ae 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #22b573 0%,#0fa5ae 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#22b573', endColorstr='#0fa5ae',GradientType=1 ); /* IE6-9 */
	color:white;
	border:none;
}
.agenda-form {
	margin-top: 15%;
}
.agenda {
	margin: 5% 0;
}
body{
    overflow-x:hidden;
	color:white;
	font-family: "Henderson";
}

input {
	color: white;
}
.action-bar {
	height: 7%;
	width: 100vw;
	background-color:#46c18a;
}
.add {
	float: right;
	font-size: 3em;
	line-height: 0.8;
	color: white;
	margin-right: 2%; 
}
.we-button, .fc-button{
	background:#46c18a;
	color:white;
	text-align:center;
	border:none;
}
.we-button.readonly {
	background-color: #46c18a;
}
.we-border-button{
    border:#46c18a solid 1px;
}

.title {
    font-size:1.1em;
	text-align: center;
}
.iframe {
	display: block;
	margin: auto;
}
.body-container {
	margin: auto;
}
body {
    background: no-repeat;
	background-image: url('./pictures/background2.png');
	background-size: cover;
}
.submit {
	text-align: center;
}

#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

.fc td{
    background-color:white;
}

.loader {
	margin: auto;
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #555;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.item{
    text-align:center;
}

ul{
    display:block;
    margin:auto;
    padding:0;
    text-align:center;
}

li{
    display:inline-block;
}

.link{
    width:100px;
    height:100px;
    background:#e6e6e6;
    display:inline-block;
    line-height: 100px;
    text-align:center;
    margin:5px;
}

a {
    color:unset;
  text-decoration: none; /* no underline */
}

a:hover{
    color:unset;
    text-decoration: none; /* no underline */
}

.fc-day-header.fc-widget-header span {
	color: black;
}
.table-condensed {
	color: black;
	font-size: 11px;
}

.green-title{
	color:#2dfb8e;
}

.title{
    height:5%;
}

.editable{
	border: 1px solid white;
	font-size: 0.6em;
	padding:2px 5px;
	width:100%;
	display: block;
}

.editable img{
	float:right;
}

.title-div{
	background-color:black;
	height:10%;
}

.center{
    text-align:center;
}

.green-to-greener, .fc-event{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#46c18a+0,a2f7e2+100 */
    background: #46c18a; /* Old browsers */
    background: -moz-linear-gradient(right, #70a399 0%, #46c18a 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(right, #70a399 0%,#46c18a 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #70a399 0%,#46c18a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#70a399', endColorstr='#46c18a',GradientType=0 ); /* IE6-9 */
    padding:10px 20px;
    border-radius:4px;
    font-size: 0.8em;
    width:65%;
    display:block;
    margin:auto;
    text-align:center;
	border:none;
}

.dark-to-greener{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#46c18a+0,a2f7e2+100 */
    background: #313333; /* Old browsers */
    background: -moz-linear-gradient(right, #313333 0%, #46c18a 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(right, #313333 0%,#46c18a 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #313333 0%,#46c18a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#313333', endColorstr='#46c18a',GradientType=0 ); /* IE6-9 */
    padding:10px 20px;
    border-radius:4px;
    font-size: 0.8em;
    width:65%;
    display:block;
    margin:auto;
    text-align:center;
}

.footer-div, .loader-div{
	padding-top:10px;
	background:black;
	height:10%;
}

#sample{

}

.darklayout{
    height:80%;
}

.overlayout{
    height:100%;
    position:absolute;
    z-index:99;
    background:rgba(0,0,0,0.8)
}

.loader-container-static {
    margin-left:auto;
    margin-right:auto;
    margin-top:2vh;
	height: 2vh;
    text-align:center;
}

.loader-container-static > div {
	position: relative;
	display: inline-block;
	background: #22b573;
	height: 100%;
	width: 5px;
	margin: 0;
}

.loader-container > div {
	position: relative;
	display: inline-block;
	background: #22b573;
	height: 100%;
	width: 5px;
	margin: 0;
	-webkit-animation: load 3s ease-in-out infinite;
	animation: load 3s ease-in-out infinite;
}

.loader-container .rectangle-2 {
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
}

.loader-container .rectangle-3 {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

.loader-container .rectangle-4 {
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}

.loader-container .rectangle-5 {
	-webkit-animation-delay: 0.4s;
	animation-delay: 0.4s;
}

.loader-container .rectangle-6 {
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
}

@-moz-keyframes load {
	0%,
	100% {
		-moz-transform: scaleY(1);
		background: #22b573;
	}
	16.67% {
		-moz-transform: scaleY(3);
		background: #0fa5ae;
	}
	33.33% {
		-moz-transform: scaleY(1);
		background: #46c18a;
	}
	50% {
		-moz-transform: scaleY(3);
		background: #22b573;
	}
	66.67% {
		-moz-transform: scaleY(1);
		background: #0fa5ae;
	}
	83.34% {
		-moz-transform: scaleY(3);
		background: #46c18a;
	}
} 

@-webkit-keyframes load {
	0%,
	100% {
		-webkit-transform: scaleY(1);
		background: #22b573;
	}
	16.67% {
		-webkit-transform: scaleY(3);
		background: #0fa5ae;
	}
	33.33% {
		-webkit-transform: scaleY(1);
		background: #46c18a;
	}
	50% {
		-webkit-transform: scaleY(3);
		background: #22b573;
	}
	66.67% {
		-webkit-transform: scaleY(1);
		background: #0fa5ae;
	}
	83.34% {
		-webkit-transform: scaleY(3);
		background: #46c18a;
	}
} 

@keyframes load {
	0%,
	100% {
		transform: scaleY(1);
		background: #22b573;
	}
	16.67% {
		transform: scaleY(3);
		background: #0fa5ae;
	}
	33.33% {
		transform: scaleY(1);
		background: #46c18a;
	}
	50% {
		transform: scaleY(3);
		background: #22b573;
	}
	66.67% {
		transform: scaleY(1);
		background: #0fa5ae;
	}
	83.34% {
		transform: scaleY(3);
		background: #46c18a;
	}
}

.fc-button{
	margin-top: 5px!important;
}

.fc-left{
	margin-top: 18px;
    margin-left: 6px;
}

.fc-left h2{
	font-size: 1.2em;
}

.fc-bg{
	background:rgba(0,0,0,0);
}

.fc-unthemed tbody{
	border:none;
}

.fc td{
	border:none;
	background-color:rgba(0,0,0,0);
}

.fc-day-header.fc-widget-header span{
	color:white;
}

.fc-unthemed td.fc-today{
	background-color:rgba(0,0,0,0);
}
.fc-view-container{
	position:relative;
	height:80%;
}