@font-face {
  font-family: "Henderson";
  src: url("../fonts/Henderson-Sans-Basic-Thin.otf");
}
@font-face {
  font-family: "HendersonBold";
  src: url("../fonts/Henderson-Sans-Basic-Semi-Bold.otf");
}
body {
	background: url('./pictures/background.png') no-repeat;
	background-size: cover;
	overflow: hidden;
	font-family: "Henderson";
}


.left {
	float: left;
	font-family: "HendersonBold";
}
.left .menu {
	list-style: none;
	height: 100vh;
	margin-bottom: 0;
}
.left .menu li {
	color: white;
	font-size: 2em;
	height: 75px;
	margin: 10% 0;
	width: 500px;
	margin-left: 10%;
}
.left .menu li:first-child {
	margin-bottom: 45%;
	padding-top: 5%;
	margin-top: 0;
}
.left .menu li:after {
	content: 'Coworking';
	padding-left: 20%;
	display: inline-block;
	opacity: 0;
	transition: 1s;
}
.left .menu li:nth-child(2):after {
	content: 'Notifications';
}
.left .menu li:nth-child(3):after {
	content: 'GPS';
}
.left .menu li:nth-child(4):after {
	content: 'My WeBossCar';
}
.left .menu:hover li:after {
	padding-left: 24%;
	display: inline-block;
	opacity: 1;
	transition: 1s;
}
.left .menu:before {
	content: '';
	border-right: 10px solid rgba(28,47,37,1);
	padding-left: 27%;
	position: absolute;
	height: 100vh;
	opacity: 0;
	transition: 1s;
}
.left .menu:hover:before {
	content: '';
	border-right: 10px solid rgba(28,47,37,1);
	padding-left: 30%;
	height: 100vh;
	position: absolute;
	opacity: 1;
	transition: 1s;
}
.left .menu li:last-child {
	margin-bottom: 0;
	margin-top: 0;
}
.mid {
	width: 45%;
	margin-left: 35%;
	padding-top: 10%;
}
.mid .main-menu {
	display: flex;
	margin: auto;
	width: 100vw;
}
.mid .main-menu div {
	display: table-cell;
	height: 200px;
	width: 200px;
	padding: 5%;
	text-align: center;
	color: white;
}
.mid .main-menu div span {
	display: block;
	width: 100px;
}
.share-screen {
	position: fixed;
	bottom: 30px;
	right: 50px;
	width: 117px;
	height: 94px;
	background: url('./pictures/shareScreen.png');
}
.mid.bottom a {
	padding: 0 3%;
}
.mid.bottom {
	padding-top: 5%;
}
.mid.bottom .container {
	width: 100%;
	text-align: center;
}
.circle.active {
	background: white;
}
.circle {
  width: 20px;
  height: 20px;  
  border: 2px solid #777;
  border-radius: 100%;
  background: black;
  display: inline-block;
}
.shareScreenBg {
	background: black;
}
.close {
	color: white;
	font-size: 7em;
	top: 0;
	right: 0;
}
.close:hover {
	color: white;
}
.schema {
	padding: 0;
	margin: 0;
}
.schema.block {
	display: flow-root;
}
.schema.block.middle {
	margin-top: 5vh;
}
.schema.front {
	display: flex;
}
.rectangle-vertical {
	height: 400px;
	width: 100%;
	border: 2px solid white;
	border-right: 1px solid rgba(255,255,255,0.2);
}
.carglass-verticale {
	height: 700px;
	width: 50%;
	border: 2px solid white;
	border-radius: 5%;
}
.fenetre-verticale {
	height: 300px;
	width: 50%;
	border: 2px solid white;
	border-radius: 5%;
	padding-bottom: 2%;
}
.rectangle {
	height: 200px;
	width: 100%;
	border: 2px solid white;
}
.top-left {
	border-bottom: 1px solid rgba(255,255,255,0.2);
	border-left: 1px solid rgba(255,255,255,0.2);
	border-right: 1px solid rgba(255,255,255,0.2);
}
.top-right {
	border-bottom: 1px solid rgba(255,255,255,0.2);
	border-left: 1px solid rgba(255,255,255,0.2);
}
.bot-left {
	border-top: 1px solid rgba(255,255,255,0.2);
	border-left: 1px solid rgba(255,255,255,0.2);
	border-right: 1px solid rgba(255,255,255,0.2);
}
.bot-right {
	border-top: 1px solid rgba(255,255,255,0.2);
	border-left: 1px solid rgba(255,255,255,0.2);
}
.screenSelection:last-child {
	margin-top: 15vh;
}