body {
	background: url('./pictures/background.png') no-repeat;
	background-size: cover;
}

.left {
	float: left;
}
.left .menu {
	list-style: none;
}
.left .menu li {
	color: white;
	font-size: 2em;
	height: 75px;
	margin: 40% 0;
	width: 450px;
}
.left .menu li:first-child {
	margin-bottom: 55%;
	margin-top: 0;
}
.left .menu li:after {
	content: 'Etat';
	float: right;
	margin-right: 25%;
	margin-top: 20%;
	display: none;
}
.left .menu li:hover:after {
	display: block;
}
.left .menu li:last-child {
	margin-bottom: 0;
	margin-top: 0;
}
.left .menu li:hover:after {
	display: inline-block;
}