@font-face {
  font-family: "Henderson";
  src: url("../fonts/Henderson-Sans-Basic-Thin.otf");
}
@font-face {
  font-family: "HendersonBold";
  src: url("../fonts/Henderson-Sans-Basic-Semi-Bold.otf");
}
body {
	background: url('./pictures/background.png') no-repeat;
	background-size: cover;
	overflow: hidden;
	font-family: "Henderson";
}


.left {
	float: left;
	font-family: "HendersonBold";
}
.left .menu {
	list-style: none;
	height: 100vh;
	margin-bottom: 0;
}
.left .menu li {
	color: white;
	font-size: 2em;
	height: 75px;
	margin: 10% 0;
	width: 500px;
	margin-left: 10%;
}
.left .menu li:first-child {
	margin-bottom: 45%;
	padding-top: 5%;
	margin-top: 0;
}
.left .menu li:after {
	content: 'Coworking';
	padding-left: 20%;
	display: inline-block;
	opacity: 0;
	transition: 1s;
}
.left .menu li.piloting:after {
	content: 'Driving';
}
.left .menu li:nth-child(2):after {
	content: 'Notifications';
}
.left .menu li:nth-child(3):after {
	content: 'GPS';
}
.left .menu li:nth-child(4):after {
	content: 'My WeBossCar';
}
.left .menu li:nth-child(5):after {
	content: 'Road Camera';
}
.left .menu:hover li:after {
	padding-left: 24%;
	display: inline-block;
	opacity: 1;
	transition: 1s;
}
.left .menu:before {
	content: '';
	border-right: 10px solid rgba(28,47,37,1);
	padding-left: 27%;
	position: absolute;
	height: 100vh;
	opacity: 0;
	transition: 1s;
	z-index: -1;
}
.left .menu:hover:before {
	content: '';
	border-right: 10px solid rgba(28,47,37,1);
	padding-left: 30%;
	height: 100vh;
	position: absolute;
	opacity: 1;
	transition: 1s;
}
.left .menu li:last-child {
	margin-bottom: 0;
	margin-top: 0;
}
.mid {
	width: 45%;
	margin-left: 35%;
	padding-top: 10%;
}
.mid .main-menu {
	display: flex;
	margin: auto;
	width: 100vw;
}
.mid .main-menu div {
	display: table-cell;
	height: 200px;
	width: 200px;
	padding: 5%;
	text-align: center;
	color: white;
}
.mid .main-menu div span {
	display: block;
	width: 100px;
}
.share-screen {
	position: fixed;
	bottom: 30px;
	right: 50px;
	width: 117px;
	height: 94px;
	background: url('./pictures/shareScreen.png');
}
.mid.bottom a {
	padding: 0 3%;
}
.mid.bottom {
	padding-top: 5%;
}
.mid.bottom .container {
	width: 100%;
	text-align: center;
}
.circle.active {
	background: white;
}
.circle {
  width: 20px;
  height: 20px;  
  border: 2px solid #777;
  border-radius: 100%;
  background: black;
  display: inline-block;
}
.shareScreenBg {
	background: black;
}
.close {
	color: white;
	font-size: 7em;
	top: 0;
	right: 0;
}
.close:hover {
	color: white;
}
.schema {
	padding: 0;
	margin: 0;
}
.schema.block {
	display: flow-root;
}
.schema.block.middle {
	margin-top: 5vh;
}
.schema.front {
	display: flex;
}
.rectangle-vertical {
	height: 400px;
	width: 100%;
	border: 2px solid white;
	border-right: 1px solid rgba(255,255,255,0.2);
}
.carglass-verticale {
	height: 700px;
	width: 50%;
	border: 2px solid white;
	border-radius: 5%;
}
.fenetre-verticale {
	height: 300px;
	width: 50%;
	border: 2px solid white;
	border-radius: 5%;
	padding-bottom: 2%;
}
.rectangle {
	height: 200px;
	width: 100%;
	border: 2px solid white;
}
.top-left {
	border-bottom: 1px solid rgba(255,255,255,0.2);
	border-left: 1px solid rgba(255,255,255,0.2);
	border-right: 1px solid rgba(255,255,255,0.2);
}
.top-right {
	border-bottom: 1px solid rgba(255,255,255,0.2);
	border-left: 1px solid rgba(255,255,255,0.2);
}
.bot-left {
	border-top: 1px solid rgba(255,255,255,0.2);
	border-left: 1px solid rgba(255,255,255,0.2);
	border-right: 1px solid rgba(255,255,255,0.2);
}
.bot-right {
	border-top: 1px solid rgba(255,255,255,0.2);
	border-left: 1px solid rgba(255,255,255,0.2);
}
.screenSelection:last-child {
	margin-top: 15vh;
}
.selectable:hover {
	background: #0d462d;
}
.selectable.active {
	background: #0d462d;
}
.validation {
	background: #22b573;
	border-radius: 1px;
	color: white;
	width: 250px;
	height: 50px;
	border: none;
}
.big-title {
	color: white;
	text-align: center;
}
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

.loader-div{
    display:none;
    height:10%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#46c18a+0,a2f7e2+100 */
}

.loader-sub-div{
    display:inline-block;
    width:100%;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

.fc td{
    background-color:white;
}

.loader {
	margin: auto;
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #555;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.loader-container-static {
    margin-left:auto;
    margin-right:auto;
    margin-top:2vh;
	height: 3vh;
    text-align:center;
}

.loader-container-static > div {
	position: relative;
	display: inline-block;
	background: #22b573;
	height: 100%;
	width: 5px;
	margin: 0;
}

.loader-container > div {
	position: relative;
	display: inline-block;
	background: #22b573;
	height: 100%;
	width: 5px;
	margin: 0;
	-webkit-animation: load 3s ease-in-out infinite;
	animation: load 3s ease-in-out infinite;
}

.loader-container .rectangle-2 {
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
}

.loader-container .rectangle-3 {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

.loader-container .rectangle-4 {
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}

.loader-container .rectangle-5 {
	-webkit-animation-delay: 0.4s;
	animation-delay: 0.4s;
}

.loader-container .rectangle-6 {
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
}

@-moz-keyframes load {
	0%,
	100% {
		-moz-transform: scaleY(1);
		background: #22b573;
	}
	16.67% {
		-moz-transform: scaleY(3);
		background: #0fa5ae;
	}
	33.33% {
		-moz-transform: scaleY(1);
		background: #46c18a;
	}
	50% {
		-moz-transform: scaleY(3);
		background: #22b573;
	}
	66.67% {
		-moz-transform: scaleY(1);
		background: #0fa5ae;
	}
	83.34% {
		-moz-transform: scaleY(3);
		background: #46c18a;
	}
} 

@-webkit-keyframes load {
	0%,
	100% {
		-webkit-transform: scaleY(1);
		background: #22b573;
	}
	16.67% {
		-webkit-transform: scaleY(3);
		background: #0fa5ae;
	}
	33.33% {
		-webkit-transform: scaleY(1);
		background: #46c18a;
	}
	50% {
		-webkit-transform: scaleY(3);
		background: #22b573;
	}
	66.67% {
		-webkit-transform: scaleY(1);
		background: #0fa5ae;
	}
	83.34% {
		-webkit-transform: scaleY(3);
		background: #46c18a;
	}
} 

@keyframes load {
	0%,
	100% {
		transform: scaleY(1);
		background: #22b573;
	}
	16.67% {
		transform: scaleY(3);
		background: #0fa5ae;
	}
	33.33% {
		transform: scaleY(1);
		background: #46c18a;
	}
	50% {
		transform: scaleY(3);
		background: #22b573;
	}
	66.67% {
		transform: scaleY(1);
		background: #0fa5ae;
	}
	83.34% {
		transform: scaleY(3);
		background: #46c18a;
	}
}
a:hover {
	text-decoration: none;
}
.draggable{
	display:none;
	position:absolute;
	z-index:99999999;
	bottom:0;
	left:0;
}
.draggable img{
	pointer-events: none;
}